@charset "UTF-8";
/* CSS Document */

html{
    height: 100vh;
    font-family: 'Overlock', cursive;
}

body{
    width: 100%;
}

h2{
    padding-top: 30px;
}


.nav-item{
    /* display: inline-block;
    width: 100%; */
    height: 15vh;
    cursor: pointer;
}

#am{
    position: fixed;
    top: 50px;
    right: 600px;
    width: 159px;
    height: 57px;
    background-image: url(../../img/v2.3/am.png);
    will-change: top, right, background-image;
    animation: 110s am infinite linear;
}

video:focus {
    outline: none; 
}

@keyframes am{
    25% {right: calc(100% - 159px); background-image: url(../../img/v2.3/am.png);}
    26% {right: calc(100% - 159px); background-image: url(../../img/v2.3/am-2.png);}
    75% {right: 0; background-image: url(../../img/v2.3/am-2.png);}
    76% {right: 0; background-image: url(../../img/v2.3/am.png);}
}

#ve{
    position: fixed;
    top: calc(50px + 10vh);
    left: 500px;
    width: 126px;
    height: 98px;
    background-image: url(../../img/v2.3/ve.png);
    will-change: top, left, background-image;
    animation: 100s ve infinite linear;
}

@keyframes ve{
    35% {left: calc(80% - 126px); background-image: url(../../img/v2.3/ve.png);}
    36% {left: calc(80% - 126px); background-image: url(../../img/v2.3/ve-2.png);}
    85% {left: 20%; background-image: url(../../img/v2.3/ve-2.png);}
    86% {left: 20%; background-image: url(../../img/v2.3/ve.png);}
}

#wp{
    position: fixed;
    top: calc(50px + 20vh);
    right: 450px;
    width: 201px;
    height: 73px;
    background-image: url(../../img/v2.3/wp.png);
    will-change: top, right, background-image;
    animation: 90s wp infinite linear;
}

@keyframes wp{
    25% {right: calc(90% - 201px); background-image: url(../../img/v2.3/wp.png);}
    26% {right: calc(90% - 201px); background-image: url(../../img/v2.3/wp-2.png);}
    75% {right: 10%; background-image: url(../../img/v2.3/wp-2.png);}
    76% {right: 10%; background-image: url(../../img/v2.3/wp.png);}
}

#dm{
    position: fixed;
    top: calc(50px + 30vh);
    left: 450px;
    width: 141px;
    height: 84px;
    background-image: url(../../img/v2.3/dm.png);
    will-change: top, left, background-image;
    animation: 80s dm infinite linear;
}

@keyframes dm{
    45% {left: calc(85% - 141px); background-image: url(../../img/v2.3/dm.png);}
    46% {left: calc(85% - 141px); background-image: url(../../img/v2.3/dm-2.png);}
    95% {left: 15%; background-image: url(../../img/v2.3/dm-2.png);}
    96% {left: 15%; background-image: url(../../img/v2.3/dm.png);}
}

#rp{
    position: fixed;
    top: calc(50px + 40vh);
    right: 350px;
    width: 137px;
    height: 112px;
    background-image: url(../../img/v2.3/rp.png);
    will-change: top, right, background-image;
    animation: 20s rp infinite linear;
}
@keyframes rp{
    25% {right: calc(70% - 137px); background-image: url(../../img/v2.3/rp.png);}
    26% {right: calc(70% - 137px); background-image: url(../../img/v2.3/rp-2.png);}
    75% {right: 5%; background-image: url(../../img/v2.3/rp-2.png);}
    76% {right: 5%; background-image: url(../../img/v2.3/rp.png);}
}

#tm{
    position: fixed;
    top: calc(50px + 50vh);
    left: 550px;
    width: 92px;
    height: 71px;
    background-image: url(../../img/v2.3/tm.png);
    will-change: top, left, background-image;
    animation: 10s tm infinite linear;
}
@keyframes tm{
    20% {left: calc(60% - 141px); background-image: url(../../img/v2.3/tm.png);}
    21% {left: calc(60% - 141px); background-image: url(../../img/v2.3/tm-2.png);}
    80% {left: 20%; background-image: url(../../img/v2.3/tm-2.png);}
    81% {left: 20%; background-image: url(../../img/v2.3/tm.png);}
}


footer{
    position: fixed;
    bottom: 0;
    left:0;
}

.main{
    margin: 5% 10%;
}

.description{
    text-align: justify;
}

.work_sample_group{
    flex-wrap: wrap;
    /* margin: -10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work_sample{
    flex-basis: 23%;
    flex-shrink: 0;
    flex-grow: 1;
    margin: 10px;
}

.sample{
    width:100%;
    filter: drop-shadow(0 0 5px #bbb);
}

footer{
    z-index: -5;
    width: 2000px;
    height: 380px;
    position: fixed;
    left:calc((100% - 2000px)/2);
    bottom: 0;
    background-image: url(../../img/v2.3/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.social-box{
    position: fixed;
    width: 132px;
    height: 468px;
    left:80px;
    bottom: 120px;
    background-image: url(../../img/v2.3/social-box.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.parent{
    margin: 80px 0 0 0;
    position: relative;
}


.moving-icon,.nav-item{
    -webkit-filter: drop-shadow(0px 0px 1px #000)
                    drop-shadow(0px 0px 2px #fff);
    filter: drop-shadow(0px 0px 1px #fff)
            drop-shadow(0px 0px 1px #fff)
            drop-shadow(0px 0px 1px #fff)
            drop-shadow(0px 0px 1px #fff);

}

#github{
    position: absolute;
    left: 0;
    top: 0;
    will-change: top;
    animation: 10s social infinite linear;
}



#linkedin{
    position: absolute;
    right: 0;
    top: 0;
    will-change: top;
    animation: 15s social infinite linear;
}

@keyframes social{
    50%{top: 100px;}
   }

.seaweed-1{
    position: fixed;
    width: 308px;
    height: 179px;
    left:232px;
    bottom: 90px;
    background-image: url(../../img/v2.3/seaweed-1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.seaweed-2{
    position: fixed;
    width: 134px;
    height: 152px;
    right:248px;
    bottom: 130px;
    background-image: url(../../img/v2.3/seaweed-2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.seaweed-3{
    position: fixed;
    width: 128px;
    height: 262px;
    right:80px;
    bottom: 140px;
    background-image: url(../../img/v2.3/seaweed-3.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.welcome{
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
    padding-right: 20px;
}

/* video{
    z-index: 30000 !important; 
} */

@media(min-width: 2000px) {
    footer{
        width: 100%;
        left:0;
    }
    .social-box{
        position: fixed;
        width: 132px;
        height: 468px;
        left:calc((100% - 2000px)/2 + 20px);
        bottom: 80px;
    }
    .seaweed-1{
        position: fixed;
        width: 308px;
        height: 179px;
        left:calc((100% - 2000px)/2 + 232px);
        bottom: 20px;
    }
    
    .seaweed-2{
        position: fixed;
        width: 134px;
        height: 152px;
        right:calc((100% - 2000px)/2 + 248px);
        bottom: 60px;
    }
    
    .seaweed-3{
        position: fixed;
        width: 128px;
        height: 262px;
        right:cal40c((100% - 2000px)/2 + 80px);
        bottom: 120px;
    }
}