@charset "UTF-8";
/* CSS Document */

@media(max-width: 768px) {
    h1{
        line-height: 0.8rem;
        font-size: 1.2rem;
    }
    .work_sample_group{
        flex-wrap: wrap;
        margin: -10px;
    }
    .work_sample{
        flex-basis: 46%;
        flex-shrink: 0;
        flex-grow: 1;
        margin: 10px;
    }
    /* 2000/5*3 */
    footer{
        width: 1200px;
        height: 228px;
        position: fixed;
        left:calc((100% - 1200px)/2);
        bottom: 0;
    }
    .social-box{
        position: fixed;
        width: 90px;
        height: 319px;
        left:40px;
        bottom:60px;
    }

    .seaweed-1{
        display: none;
        visibility: hidden;
    }
    
    .seaweed-2{
        position: fixed;
        width: 134px;
        height: 152px;
        left:180px;
        bottom: 50px;
    }
    
    .seaweed-3{
        position: fixed;
        width: 128px;
        height: 262px;
        right:30px;
        bottom: 80px;
    }

    #am{
        position: fixed;
        top: 50px;
        right: 300px;
        animation-duration: 60s;
    }
        
    #ve{
        position: fixed;
        top: calc(50px + 12vh);
        left: 200px;
        animation-duration: 50s;
    }
        
    #wp{
        position: fixed;
        top: calc(50px + 24vh);
        right: 150px;
        animation-duration: 40s;
    }
        
    #dm{
        position: fixed;
        top: calc(50px + 36vh);
        left: 150px;
        animation-duration: 30s;
    }
        
    #p{
        position: fixed;
        top: calc(50px + 48vh);
        right: 150px;
    }
        
    #tm{
        position: fixed;
        top: calc(50px + 60vh);
        left: 250px;
    }

    @keyframes am{
        25% {right: calc(100% - 159px); background-image: url(../../img/v2.3/am.png);}
        26% {right: calc(100% - 159px); background-image: url(../../img/v2.3/am-2.png);}
        75% {right: 0%; background-image: url(../../img/v2.3/am-2.png);}
        76% {right: 0%; background-image: url(../../img/v2.3/am.png);}
    }

    @keyframes ve{
        35% {left: calc(100% - 126px); background-image: url(../../img/v2.3/ve.png);}
        36% {left: calc(100% - 126px); background-image: url(../../img/v2.3/ve-2.png);}
        85% {left: 0%; background-image: url(../../img/v2.3/ve-2.png);}
        86% {left: 0%; background-image: url(../../img/v2.3/ve.png);}
    }

    @keyframes wp{
        25% {right: calc(100% - 201px); background-image: url(../../img/v2.3/wp.png);}
        26% {right: calc(100% - 201px); background-image: url(../../img/v2.3/wp-2.png);}
        75% {right: 0%; background-image: url(../../img/v2.3/wp-2.png);}
        76% {right: 0%; background-image: url(../../img/v2.3/wp.png);}
    }

    @keyframes dm{
        45% {left: calc(100% - 141px); background-image: url(../../img/v2.3/dm.png);}
        46% {left: calc(100% - 141px); background-image: url(../../img/v2.3/dm-2.png);}
        95% {left: 0; background-image: url(../../img/v2.3/dm-2.png);}
        96% {left: 0; background-image: url(../../img/v2.3/dm.png);}
    }

    @keyframes rp{
        25% {right: calc(100% - 137px); background-image: url(../../img/v2.3/rp.png);}
        26% {right: calc(100% - 137px); background-image: url(../../img/v2.3/rp-2.png);}
        75% {right: 0%; background-image: url(../../img/v2.3/rp-2.png);}
        76% {right: 0%; background-image: url(../../img/v2.3/rp.png);}
    }

    @keyframes tm{
        20% {left: calc(100% - 92px); background-image: url(../../img/v2.3/tm.png);}
        21% {left: calc(100% - 92px); background-image: url(../../img/v2.3/tm-2.png);}
        80% {left: 0%; background-image: url(../../img/v2.3/tm-2.png);}
        81% {left: 0%; background-image: url(../../img/v2.3/tm.png);}
    }
}