@charset "UTF-8";
/* CSS Document */

@media(max-width: 425px) {
    .hidden{
        display: none;
        visibility: hidden;
    }
    main{
        margin: 0;
    }
    .work_sample_group{
        flex-wrap: wrap;
        margin:0;
    }
    .work_sample{
        flex-basis: 100%;
        flex-shrink: 1;
        flex-grow: 0;
        margin:0;
    }
    footer{
        width: 900px;
        height: 171px;
        position: fixed;
        left:calc((100% - 900px)/2);
        bottom: 0;
    }
    .social-box{
        position: fixed;
        width: 70px;
        height: 248px;
        left:20px;
        bottom:30px;
    }

    .seaweed-1{
        display: none;
        visibility: hidden;
    }
    
    .seaweed-2{
        display: none;
        visibility: hidden;
    }
    
    .seaweed-3{
        display: none;
        visibility: hidden;
    }

    .nav-item.am{
        position: fixed;
        top: 50px;
        right: 100px;
    }
        
    .nav-item.ve{
        position: fixed;
        top: calc(50px + 10vh);
        left: 50px;
    }
        
    .nav-item.wp{
        position: fixed;
        top: calc(50px + 20vh);
        right: 50px;
    }
        
    .nav-item.dm{
        position: fixed;
        top: calc(50px + 30vh);
        left: 50px;
    }
        
    .nav-item.rp{
        position: fixed;
        top: calc(50px + 40vh);
        right: 50px;
    }
        
    .nav-item.tm{
        position: fixed;
        top: calc(50px + 50vh);
        left: 150px;
    }
}